<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
           
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td class="w-75">{{product.name}}</td>
                    <td>
                        <a [routerLink]="['/products',product.id]" class="btn btn-danger btn-sm">details</a>
                        <a [routerLink]="['/products',product.id,'edit']" class="btn btn-primary btn-sm ms-2">Edit</a>
                    </td>
                </tr>
            </tbody>
           
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="mt-4">
            <a class="btn btn-primary" routerLink="/products" [queryParams]="{page:1,order:'bestselling'}">En çok
                satanlar</a>
            <a class="btn btn-primary ms-2" routerLink="/products" [queryParams]="{page:1,order:'newest'}">En yeni
                ürünler</a>
            <button class="btn btn-primary ms-2" (click)="loadProducts()">Sayfayı Yenile</button>

        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>